{% extends templates/GeneralShop.html %}
{% block shopContent %}
<h2>{{{ $resultsHeader }}}</h2>
{% if(isset($resultsDescription)): %}
<p>
    {{{ $resultsDescription }}}
</p>
{% endif; %}
{% foreach($products as $product): %}
<article class="product">
    <div class="product-image">
        <img src="{{{ PRODUCT_PICTURE_PATH .  $product['_picture'] }}}" alt="Ilustracja produktu">
    </div>
    <div class="product-info">
        <h3><a href="?controller=productController&amp;idProduct={{{ urlencode($product['_idProduct']) }}}">{{{ $product['_name'] }}}</a></h3>
        <p class="product-description">{{{ $product['_description'] }}}</p>
        {% if($product['_discount'] > 0): %}
            <div class="product-old-price">{{{ $product['_price'] }}} zł</div>
            <div class="product-price">{{{ $product['_price']-$product['_discount'] }}} zł</div>
        {% else: %}
            <div class="product-price">{{{ $product['_price'] }}} zł</div>
        {% endif; %}
    </div>
    <div class="product-buttons">
        <button type="button" value="{{{ $product['_idProduct'] }}}"  class="button-add-cart" data-product-id="{{{ $product['_idProduct'] }}}">Do koszyka</button>
    </div>
</article>
{% endforeach; %}
{% endblock %}